@model WebApplication1.Models.Order

@{
    ViewBag.Title = "OrderComplete";
}

<h2>Order is complete</h2>
<p>Thanks for your purchase, @Model.Customer. Your order ID: @Model.Id</p>
<p>@Html.ActionLink(Resources.Resources.BackToList, "Index")</p>